.mainInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3%;
}

.holder {
  text-align: center;
  margin: auto;
  width: 300px;
  height: 300px;
  padding: 5%;
}

.holder img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.otherInfo {
  display: flex;
  margin: 1% 0%;
}

.label {
  width: 40%;
}

.labelInfo {
  width: 60%;
}

@media(max-width: 420px) {
  .editForms {
    width: 100%;
    margin: auto;
  }

  .labelInfo ol {
    padding: 0;
    margin: 0;
  }

  .labelInfo ul {
    padding: 0;
    margin: 0;
  }
}