html {
  font-family: "Comic Sans MS", cursive, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --darkBlue: #242582;
  --pink: #F64C72;
  --purple: #99738E;
  --blue: #2F2FA2;
  --darkPurple: #553D67;
}

.left {
  /* display: flex; */
  /* flex-direction: column; */
  border-right: 2px solid var(--pink);
  border-left: 2px solid var(--pink);
  padding: 2% 5%;
}

.left a{
  word-break: break-all;
}

.holder {
  width: 95%;
  margin: auto;
  padding: 2% 0%;
}

.holder img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.code {
  background-color: var(--darkBlue);
  color: var(--pink);
}

@media(max-width: 420px) {
  .holder {
    width: 100%;
  }
}