html {
  font-family: "Comic Sans MS", cursive, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --darkBlue: #242582;
  --pink: #F64C72;
  --purple: #99738E;
  --blue: #2F2FA2;
  --darkPurple: #553D67;
}

.left {
  border-right: 2px solid var(--pink);
  border-left: 2px solid var(--pink);
  padding: 2% 3%;
}