:root {
  --darkBlue: #242582;
  --pink: #F64C72;
  --purple: #99738E;
  --blue: #2F2FA2;
  --darkPurple: #553D67;
}

.footer {
  background-color: var(--blue);
  color: var(--pink);
  border-bottom: 5px solid var(--navbar);
  position: absolute;
  bottom: 0;
  width: 100%;
}


.footer ul {
  list-style: none;
  display: flex;
  text-align: center;
}

.heroFooter {
  text-align: center;
  font-size: xxx-large;
  flex: 1;
  padding-bottom: 1%;
}

.heroFooter:hover {
  color: white;
}

.title {
  flex: 2;
  font-size: xx-large;
  padding-top: 1%;
}

.title:hover {
  color: white;
}

/* @media(min-width: 421px) {
  .hero {
    text-align: center;
    font-size: xxx-large;
    flex: 1;
    padding-bottom: 1%;
  }
} */

@media(max-width: 420px) {
  .footer {
    flex: 0;
  }

  .heroFooter {
    text-align: center;
    font-size: xxx-large;
    flex: 0;
    padding-bottom: 0px;
  }

  .footer ul {
    margin: 0px;
  }
}