.login-form {
  text-align: center;
}

.label {
  /* text-align: center; */
  padding-bottom: 2%;
  padding-left: 10%;
  
}

.label input[type="text"] {
  padding: 1% 2%;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px dotted var(--pink);
  transition: border-bottom 2s;
  width: 80%;
}

.label input[type="text"]:focus {
  border-bottom: 2px solid var(--darkPurple);
}

.label input[type="email"] {
  padding: 1% 2%;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px dotted var(--pink);
  transition: border-bottom 2s;
  width: 80%;
}

.label input[type="email"]:focus {
  border-bottom: 2px solid var(--darkPurple);
}

.label input[type="password"] {
  padding: 1% 2%;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px dotted var(--pink);
  transition: border-bottom 3000ms;
  width: 80%;
}

.label input[type="password"]:focus {
  border-bottom: 2px solid var(--darkPurple);
}

.label input[type="number"] {
  padding: 1% 2%;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px dotted var(--pink);
  transition: border-bottom 2s;
  width: 80%;
}

.label input[type="number"]:focus {
  border-bottom: 2px solid var(--darkPurple);
}

.label input[type="date"] {
  padding: 1% 2%;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px dotted var(--pink);
  transition: border-bottom 2s;
  width: 45%;
  margin-left: 10%;
}

.label input[type="date"]:focus {
  border-bottom: 2px solid var(--darkPurple);
}

.label select {
  padding: 1% 2%;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px dotted var(--pink);
  transition: border-bottom 2s;
  width: 80%;
}

.label select:focus {
  border-bottom: 2px solid var(--darkPurple);
}

.subLabel {
  display: flex;
}

.subLabel span strong {
  /* width: 40%; */
  flex: 1;
  /* padding-right: 10%; */
}

.label input[type="radio"] {
  padding: 1% 2%;
  margin-left: 10%;
  width: 10%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mainHolder {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.avatar {
  margin: 0% .5%;
}

.holder {
  width: 100px;
  height: 100px;
  padding: 4%;
}

.holder img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media(max-width: 420px) {
  .label {
    padding-left: 0;
  }

  .label input[type="text"] {
    width: 100%;
  }

  .label input[type="email"] {
    width: 100%;
  }

  .label input[type="password"] {
    width: 100%;
  }

  .label input[type="number"] {
    width: 100%;
  }

  .label input[type="date"] {
    width: 45%;
    margin-left: 10%;
  }

  .label select {
    width: 100%;
  }

  .avatar {
    margin: 0% 1%;
  }
  
}