.TagsHolder {
  margin: 0 !important;
}

.TagDiv {
  display: flex;
  font-size: 11px;
  height: 21px;
  background-color: #00000014;
  padding: 0 6px;  
  align-items: center;
  border-radius: 2px;
  color: #000000DE;
  margin: 12px 5px; 
  justify-content: baseline;
  cursor: pointer;
}

@media(max-width: 500px) {
  .TagDiv {
    padding: 0 3px;
    margin: 5px 2px; 
  }


}