html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --darkBlue: #242582;
  --pink: #F64C72;
  --purple: #99738E;
  --blue: #2F2FA2;
  --darkPurple: #553D67;
}

header {
  background-color: var(--blue);
  color: var(--pink);
  border-bottom: 5px solid var(--navbar)
}

header:hover {
  box-shadow: 0px  0px 200px  black;
  /* box-shadow: 0px 90px 21px 39px rgba(246,76,114,0.53); */
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.hero {
  flex: 1;
  padding: 1% 2%;
}

.hero:hover {
  color: white;
}

.bi-clipboard-data {
  font-size: xxx-large
}

.nav-item {
  margin: 1% 2%;
  font-size: larger;
  text-justify: auto;
  color: white;
  border: 5px solid transparent;
  padding: 1%;
}

.nav-item:hover {
  background-color: var(--darkBlue);
  border: 5px solid var(--pink);
}


/* to do */

body {
	font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: whitesmoke;
}

.todo {
  width: 65%;
  background-color: white;
  border-radius: 10px;
  padding: 1% 5% 1% 5%;
  margin: 5% auto; 
}


#inputListItem {
  width: 90%;
  padding: 1.5%;
  margin-top: 2%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border: 1.5px solid gray;
  border-radius: 5px;
}

#addButton {
  width: 8%;
  padding: 1.5% 1%;
  background-color: var(--darkBlue);
  color: var(--pink);
  border: 1.5px solid royalblue;
  font-weight: bold;
  border-radius: 5px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#addButton:hover {
  color: var(--darkBlue);
  background-color: var(--pink);
}

.list-items {
  width: 90%;
}

.list-items li{
  padding: 1.5% 1% 1.5% 0%;
  border-bottom: 0.5px solid rgb(175, 175, 175, 0.75);
  background-color: white;
  margin-bottom: .5%;
  justify-content: center;
}

ul {
  display: unset;
  list-style-type:none;
}

ul li {
  display: flex;
}

.task {
  justify-content: center;
  width: 90%;
  overflow-wrap: break-word;
  cursor: pointer;
}

element.style {
  margin-top: 4%;
}

input[type=checkbox]:checked~.task {
  text-decoration: line-through;
}

input[type=checkbox]:hover {
  cursor: pointer;
}

.update {
  justify-content: center;
  display: flex;
  margin-left: 5%;
}

.update-item {
  margin: 0% 30%;
  font-size: 130%;
}

.fa-pencil {
  cursor: pointer;
  font-weight: lighter;
  color: green;
  font-size: larger;
  width: 120%;
}

.fa-pencil:hover {
  font-weight: bolder;
  color: darkgreen;
}

.close {
  cursor: pointer;
  color: var(--pink);
  font-weight: lighter;
  font-size: larger;
  margin: 0% 2%;
}

.close:hover {
  font-weight: bolder;
  color: red;
}




